
.edge {
  fill: none;
  stroke-width: 4px;
}

.edge-http {
	stroke: #8F4650;
}

.edge-amqp {
	stroke: #4F803F;
}

.serviceName {
	fill: #000000;
	font-family: "Arial";
	font-size: 12px;
	text-anchor: middle;
	dominant-baseline: central;
}

.serviceNode {
	stroke: #254852;
	stroke-width: 3;
	fill: #EEEEEE;
}

.shadowed {
	-webkit-filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.5));
	filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.5));
	-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=3, OffY=3, Color='#444')";
	filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=3, OffY=3, Color='#444')";
}