
.edge {
  fill: none;
  stroke-width: 4px;
}

.edge-http {
	stroke: #8F4650;
}

.edge-amqp {
	stroke: #4F803F;
}

.serviceName {
	fill: #000000;
	font-family: "Arial";
	font-size: 12px;
	text-anchor: middle;
	dominant-baseline: central;
}

.serviceNode {
	fill: #FFFFFF;
	stroke: #254852;
	stroke-width: 3;
}